<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/managerDashcss.css">
    </head>

    <body>
        <nav>
            <img class="logo" src="/sprites/WHITE.png">

            <ul class="nav">
                <li><a href="/dashboard" name="home">Home</a></li>
                <li><a href="/user/logout" name="logout">Logout</a></li> 
            </ul>
        </nav>

        <div class="wrapper">
            

            <div class="wrapper-left">
                <ul>
                    <li data-li="addbook">
                        <p>Create Manager</p>
                    </li>
                    <li data-li="addbookinst">
                        <p>Admin Logs</p>
                    </li>
                    {{!-- <li data-li="editbook">
                        <p>Manage Book</p>
                    </li> --}}
                    <!-- <li data-li="editbookinst">
                        <p>Edit Book Instance</p>
                    </li> -->
                    <!-- <li data-li="delete">
                        <p>Delete Book</p>
                    </li>
                    <li data-li="deleteinst">
                        <p>Delete Book Instance</p>
                    </li> -->
                </ul>
            </div>
            
            <div class="wrapper-right">
                <div class="container">
                    <div class="item addbook" >
                        <div class="item-info">
                            <div class="header-label">Create Manager</div>
                            {{!-- <p>Add Book</p> --}}
                            <div class="form-container">
                                <form action="/user/registerManager" method="POST">
                                    <span>First Name</span>
                                    <input type="text" name="firstName" placeholder="First Name" />
                                    <span>Last Name</span>
                                    <input type="text" name="lastName" placeholder="Last Name" />
                                    <span>Manager Username</span>
                                    <input type="text" name="username" placeholder="Manager Username" />
                                    <span>Email Address</span>
                                    <input type="email" name="email" placeholder="Email Address" />
                                    <span>ID Number</span>
                                    <input type="text" name="ID" placeholder="ID Number" />
                                    <span>Password</span>
                                    <input type="password" name="password" placeholder="Password" />
                                    {{!-- <span>Link to Image</span>
                                    <input type="text" name="linktoImage" placeholder="Link to Image"/> --}}
                                    <button>Create Manager</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="item addbookinst" style="display: none;">
                        <div class="item-info">
                            <div class="header-label">Admin Logs</div>
                            <div class="form-container">
                                

                            </div>
                        </div>
                    </div>

                
                </div>

            </div>
        </div>

        <script src="managerScript.js"></script>

    </body>
</html>