<div>dashboard</div>
<div>
    <form action="/user/changePassword" method="post">
        <div>New Password</div>
        <input type="password" name="password1">
        <div>Confirm Password</div>
        <input type="password" name="password2">
        
        <input type="submit" value="submit">
    </form>
</div>
<a href="/user/logout">logout</a>