<html>
    <head>
        <link rel="stylesheet" type="text/css" href="editBookcss.css">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>

    <body>
        <div class="dashboard-container">
            <nav>
                <img class="logo" src="../public/sprites/WHITE.png">

                <ul class="nav">
                    <li><a href="#" name="home">Home</a></li>
                    <li><a href="#" name="logout">Logout</a></li> 
                </ul>
            </nav>

            <div class="book-container">
                <div class="details-container">
                    <div class="form-container">
                        <form action="#">
                            <div class="group">
                                <label for="title">Title</label>
                                <input id="title" type="text" placeholder="Title" />
                            </div>
                            
                            <div class="group">
                                <label for="author">Author</label>
                                <input id="author" type="text" placeholder="Author" />
                            </div>

                            <div class="group">
                                <label for="publisher">Publisher</label>
                                <input id="publisher" type="text" placeholder="Publisher" />
                            </div>
                            
                            <!-- <input type="text" placeholder="Publisher" /> -->
                            <input type="text" placeholder="Year of Publication" />
                            <input type="text" placeholder="ISBN" />
                            <input type="text" placeholder="Link to Image"/>
                            <input type="text" placeholder="Status"/>
                            <div class="button-container">
                                <button>Back</button>
                                <button>Save</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
