<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/logincss.css">
    </head>

    <body>

        <div class="bg-container">
            
        </div>

        <div class="logo-container">
            <img src="/sprites/logoblue.png" id="logo">
        </div>

        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/user/register" method="POST">
                    <h1>Create Account</h1>
                    
                    <input type="text" name="firstName" placeholder="First Name" />
                    <input type="text" name="lastName" placeholder="Last Name" />
                    <input type="text" name="username" placeholder="Username" />
                    <input type="email" name="email" placeholder="Email" />
                    <input type="text" name="ID" placeholder="ID Number" />
                    <input type="password" name="password" placeholder="Password" />
                    <button>Sign Up</button>
                    {{!-- <button>
                        <input class="button" type="submit" value="Sign Up">
                    </button> --}}
                    {{!-- <input class="button" type="submit" value="Sign Up"> --}}
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="login" method="POST">
                    <h1>Sign in</h1>
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button>Sign In</button>
                    {{!-- <input class="button" type="submit" value="Sign in"> --}}
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To to be able to access books, please login with your personal information</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, X-Men!</h1>
                        <p>Enter your personal details to be able to access hundreds of books</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/login.js"></script>
    </body>
</html>