<div>welcome manager</div>
<div>
    <form action="/book/createBook" method="post">
        <div>title</div>
        <input type="text" name="title">
        <div>author</div>
        <input type="text" name="author">
        <div>publisher</div>
        <input type="text" name="publisher">
        <div>publication year</div>
        <input type="date" name="publicationYear">
        <div>ISBN</div>
        <input type="text" name="ISBN">
        <div></div>
        <input type="submit" value="Create">
   
    </form>
</div>
<a href="/user/logout">logout</a>