<html>
    <head>
        <link rel="stylesheet" type="text/css" href="reviewCSS.css">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>

    <body>
        <div class="profile-container">
            <nav>
                <img class="logo" src="sprites/WHITE.png">

                <ul class="nav">
                    <li><a href="#" name="home">Home</a></li>
                    <li><a href="#" name="profile">Profile</a></li> 
                    <li class="search-icon"> 
                        <input class="search-box" type="search" name="search" placeholder=" Search..." >
                        <label class="icon">
                            <span class="fas fa-search"></span>
                        </label>
                    </li>
                </ul>
            </nav>

            <div class="body-container">
                <div class="profile">
                    <div class="details">
                        <div id="name">Francine Sia</div>
                        <div id="username">@siafrancine</div>
                        <div id="id-number">11712345</div>
                        <div id="email">francine_sia@dlsu.edu.ph</div>
                    </div>

                    <div class="button-container">
                        <button id="password">Change Password</button>
                        <button id="logout">Logout</button>
                    </div>
                </div>

                <hr/>

                <div class="body">
                    <div class="sidebar-container">
                        <div id="my-account">My Account</div>
                        <div id="reviews">Reviews</div>
                        <div id="borrowing">Currently Borrowing</div>
                        <div id="history">History</div>
                    </div>

                    <div class="main-container">
                        <div class="label-container">
                            <div id="label">Reviews</div>
                        </div>
                        <hr/>


                        <div class="information-container">
                            <div class="review">
                                <div id="book-title">To Kill A Mockingbird</div>
                                <div id="review-descrip">I like the book even though it made me sleepy.</div>
                            </div>

                            <div class="review">
                                <div id="book-title">Eight Great Comedies</div>
                                <div id="review-descrip">It's a difficult book to understand</div>
                            </div>

                            <div class="review">
                                <div id="book-title">Of Mice and Men</div>
                                <div id="review-descrip">Challenged my brain cells while I was reading the book. The story was quite interesting. I recommend this book to high school students as this will help them learn.</div>
                            </div>

                            <div class="review">
                                <div id="book-title">Les Miserables</div>
                                <div id="review-descrip">Definitely a classic! Would read this over and over again.</div>
                            </div>

                            <div class="review">
                                <div id="book-title">Much Ado About Nothing</div>
                                <div id="review-descrip">Difficult to understand since the literature in the olden times were much harder to understand</div>
                            </div>
                            
                        </div>
                    </div>

                </div>

            </div>
            
            


        </div>

    </body>

</html>
