/*--------------------FONTS USED--------------------*/
@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------*/

*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}

.dashboard-container{
    background-color: rgba(248, 244, 223, 0.7);
    height: 100%;
    margin: 0px;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

nav {
    height: 5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #4a85ac;
    /* overflow: hidden; */
    padding: 0 20px;
    color: white;
    /* position: relative; */
    /* z-index: 99; */
    cursor: pointer;
}

.logo{
    height: 2.5em;
    margin-top: 1%;
    margin-right: auto;
    padding-right: 2.1875em;
}

.nav a{
    font-family: ralewayregular;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 0 10px;
    transition: 0.4s;
}

.nav{
    list-style: none;
    flex-wrap: wrap;
}

.nav li{
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
}

.nav li a{
    transition: all 0.3s ease 0s;
}

.nav li a:hover{
    color: #114b72;

}

.search-box{
    border: none;
    background: #fff;
    outline: none;
    float: left;
    padding: 0 0 0 5px;
    color: #000;
    margin-top: -10px;
    margin-right: 20px;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 9.375em;
}

/* nav ul .search-icon{
    height: 40px;
    width:240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
} */

nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #114b72;
    border-radius: 0 5px 5px 0;
}

nav ul .search-icon .icon span{
    color: #000;
    font-size: 18px;;
}

.book-container{
    padding: 30px;
    width: 93%;
    margin-left: 15px;
    margin-top: 15px;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.book{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    -webkit-box-shadow: 6px 6px 13px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 13px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 13px -6px rgba(0,0,0,0.75);
}

.book-image-container{
    position: relative;
    height: 250px;
    width: 180px;
}

.book-image{
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.book-title{
    text-align: center;
    margin-top: 10px;
}

.book-title:hover{
    color: #114b72;
}

.book-author{
    padding-top: 5px;
}
